body {
  padding: 50px;
  font: 20px "font-family: 'Cormorant Garamond', serif";
  background-color: rgb(215, 173, 164);
}

a {
  color: rgb(83, 40, 58);
  
}

h1 {
  color: rgb(58, 107, 111);
}

h2 {
  color: rgb(123, 153, 145)
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: red;
}
    
li {
  list-style: none;
}